<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <!-- Removes version headers from response -->
        <httpRuntime enableVersionHeader="false" />
    </system.web>
    <system.webServer> 
     <httpProtocol>
        <customHeaders>
            <!--Removes X-Powered-By header from response -->
            <clear />
        </customHeaders>
    </httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="login/index.php" />
            </files>
        </defaultDocument>

        <rewrite> 
            <rules> 

             <rule name="Remove .php extensions" stopProcessing="true">
                                <match url="^(.*)$" />
                                <conditions logicalGrouping="MatchAll">
                                    <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                                    <add input="{REQUEST_FILENAME}.php" matchType="IsFile" ignoreCase="false" />
                                </conditions>
                                <action type="Rewrite" url="{R:1}.php" />
                 </rule> 
                 
                <rule name="rule block folder with start name" stopProcessing="true"> 
					<match url="(^|)\/(doc|docs|demo|lib|node_server|vendor|core|private|backup|bk|_bk|_bk2|- Copy)\/(|$)" ignoreCase="true" />
                    <action type="AbortRequest" />
				</rule> 

                <rule name="block composer" stopProcessing="true"> 
					<match url="(^|)(CHANGELOG\.md|composer\.(json|lock|phar))(|$)" ignoreCase="true" />
                    <action type="AbortRequest" />
                    <!-- <action type="Rewrite" url="error.php" />  -->
				</rule> 

                <rule name="rule file extension" stopProcessing="true">
                    <match url="^.*\.(exe|bat|cmd|.sh|py|zip|7z|rar|txt|xml|md|src|lock|phar|env|conf|dist|git)$" ignoreCase="true" />
                   <action type="AbortRequest" />
                </rule> 
                
                 <!-- <rule name="rule block well-known" stopProcessing="true">
                    <match url="(^\.|/\.)(?!well-known(/|$))" />
                    <action type="Rewrite" url="error.php" /> 
                </rule> 
                
                <rule name="rule block folder with start name" stopProcessing="true"> 
					<match url="(^|)\/(doc|docs|demo|lib|node_server|vendor|core|private|backup|bk|_bk|_bk2|- Copy)\/(|$)"  />
                    <action type="Rewrite" url="error.php" /> 
				</rule>

                <rule name="rule file extension" stopProcessing="true">
                    <match url="^.*\.(exe|bat|cmd|.sh|py|zip|7z|rar|txt|xml|src|json|lock|phar)$" />
                    <action type="Rewrite" url="error.php" /> 
                </rule>  -->

                 <!-- <rule name="rule block folder with start name">
					<match url="(^|/)(config|content-sample|lib|vendor|log|core|private|backup|bk|_bk|_bk2|- Copy)(/|$)"  />
					<action type="Rewrite" url="error.php" />
				</rule>
                <rule name="rule block composer" stopProcessing="true">
                    <match url="(CHANGELOG\.md|composer\.(json|lock|phar))(/|$)" />
                    <action type="Rewrite" url="error.php" />
                </rule> 
                <rule name="rule block well-known" stopProcessing="true">
                    <match url="(^\.|/\.)(?!well-known(/|$))" />
                    <action type="Rewrite" url="error.php" />
                </rule> 
                <rule name="rule block .exe .bat .cmd .sh .py .zip 7z rar" stopProcessing="true">
                    <match url="(\.exe|\.bat|\.cmd|\.sh|\.py|\.zip|\.7z\.rar)" />
                    <action type="Rewrite" url="error.php" />
                </rule> 
                <rule name="backup _bk|_bk2|- Copy" stopProcessing="true">
                    <match url="(backup|bk|_bk|_bk2|- Copy)" />
                    <action type="Rewrite" url="error.php" />
                </rule>  -->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
